<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="section-prod-list">
  <div class="container">
    <div class="card">
      상품 상세 정보
    </div>
    
    <ul class="list-group list-group-flush gap-2">
      <li class="list-group-item">
        <img  class="w-full max-w-[300px]" src="https://i.imgur.com/PVsCFy1.png" alt="">
      </li>
      <li class="list-group-item">
        <span>번호 : </span>
        <span class="badge bg-primary">1</span>
      </li>
      <li class="list-group-item">
        <span>등록 날짜 : </span>
        <span>2024-07-08</span>
      </li>
      <li class="list-group-item">
        <span>수정 날짜 : </span>
        <span>2024-07-08</span>
      </li>
      <li class="list-group-item">
        <span>상품명 : </span>
        <span class="font-bold">혜지쌤의 스프링부트 강의</span>
      </li>
      <li class="list-group-item">
        <span>가격 : </span>
        <span>1원</span>
      </li>
      <li class="list-group-item">
        <span>마켓 : </span>
        <span class="badge bg-primary">code</span>
      </li>
    </ul>
  </div>
</section>
</html>