@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
@@ -126,157 +15,4 @@ html > body li {
html > body {
  font-family: 'Pretendard-Regular';
  text-underline-position: under;